
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-top: auto;
    margin-bottom: auto;
    flex-direction: column;
}

.fontStyle{
    font-size: 40px;
}
