
.userPageWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "account-info  orders-list orders-list orders-list"
    "account-info  orders-list orders-list orders-list"
    "account-info  orders-list orders-list orders-list"
    "account-info  orders-list orders-list orders-list";
}


.accountInfo {
    grid-area: account-info;
}

.ordersList {
    grid-area: orders-list;
    display: flex;
    margin-top: 5%;
}


.orderAlert {
    width: 100vw;
}

@media screen and (max-width: 1000px) {
    .userPageWrapper {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
}