.container {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.8fr 1fr 1fr 1fr 1fr;
    gap: 10px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "search-area search-area search-area search-area search-area"
    "filters goods goods goods goods"
    "filters goods goods goods goods"
    "filters goods goods goods goods"
    "filters goods goods goods goods";
}

.filters {
    grid-area: filters;
    justify-self: center;
    width: 90%;
}

.searchArea {
    grid-area: search-area;
    display: flex;
    align-items: center;
    justify-content: center;
}

.goods {
    grid-area: goods;
}


@media screen and (max-width: 800px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.2fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
    "search-area search-area "
    "goods goods "
    }
}