
.productPageWrapper {
    display: grid;
    grid-template-columns: auto;
    background-color: #8D9AF8;
    justify-content: center;
    position: relative;
    height: 100%;
}

.container {
    display: flex;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 100%;
}

.leftSide {
    padding: 30px;
    width: 100%;
    height: 100%;
    background-color: #E3E5FA;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.rightSide {
    padding: 30px;
    display: flex;
    background-color: #FAF9F6;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.imageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 350px;
    height: 400px;
}

.addToCart {
    width: 57%;
    position: fixed;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    bottom: 0;
    z-index: 100;
}


@media screen and (max-width: 800px){
    .container{
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .leftSide {
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
    }
    .rightSide {
        border-bottom-right-radius:0px;
        border-top-right-radius: 0px;
    }
    .addToCart {
        width:100%;
    }
}